.errorWrapper {
    background-image: url("https://www.meme-arsenal.com/memes/f9a568a007a0f759eed4d993cc20339c.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}